<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.questionbank17_24">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuestionBank17_24"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.AccountManageActivity"></activity>
        <activity android:name=".activity.QueryRoadActivity" />
        <activity android:name=".activity.LifeAssistantActivity" />
        <activity android:name=".activity.AccountSetActivity" />
        <activity android:name=".activity.LightManageActivity" />
        <activity android:name=".activity.PersonalCenterActivity" />
        <activity android:name=".activity.DataAnalysisActivity" />
        <activity android:name=".activity.MyMessageActivity" />
        <activity android:name=".activity.LifeIndexActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>